.config/nvim/plugged/
.config/coc/
.config/configstore/
.config/Dharkael/
.config/Slack/
.config/pulse/
.config/spotify/
.config/dconf/
.config/vlc/
.config/transmission/
.config/mirage/
.config/gtk-2.0/
.config/RawTherapee/
.config/rclone/
.config/chromium/
.config/Postman/
.config/discord/
.config/go/
.config/Fritzing/
.config/Microsoft/Microsoft Teams/
.config/teams/
.config/firebase/
.config/gcloud/
.config/GIMP/
.config/nvm/
.config/obsidian/
.config/JetBrains/
.config/aconfmgr/
.config/qmk/
.config/protonvpn/
.config/systemd/
.config/Raspberry Pi/
.config/Mullvad VPN/
.emacs.d/elpa/
.emacs.d/auto-save-list/

.config/zoomus.conf
.config/QtProject.conf
.config/pavucontrol.ini
.config/mimeapps.list
