[user]
    name = Alexander Heldt
    email = me@alexanderheldt.se

[core]
    editor = "nvim"

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[includeIf "gitdir:~/code/work/"]
    path = ~/code/work/.gitconfig
